<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    {{ $side := .Site.Params.left }}
    <div class="split-content split-left">
    
      <!-- Image -->
      {{ if eq $side.media.type "image" }}

        <div class="split-slice"></div>

      <!-- Video -->
      {{ else if eq $side.media.type "video" }}

        {{ partial "video" (dict "context" . "side" $side) }} <!-- TODO Context-Nr. 1: make $side usable in partials without this mess -->

      {{ end }}

      {{ with $side.content.description }}
      <div class="split-description">
        {{ . }}
      </div>
      {{ end }}

      {{ with $side.content.logo }}
        {{ partial "logo" . }}
      {{ end }}

    </div>

    {{ $side := .Site.Params.right }}
    <div class="split-content split-right">
    
      <!-- Image -->
      {{ if eq $side.media.type "image" }}

        <div class="split-slice"></div>

      <!-- Video -->
      {{ else if eq $side.media.type "video" }}

        {{ partial "video" (dict "context" . "side" $side) }}

      {{ end }}

      {{ with $side.description }}
      <div class="split-description">
        {{ . }}
      </div>
      {{ end }}

      {{ with $side.content.logo }}
        {{ partial "logo" . }}
      {{ end }}
    
    </div>

  </div>

</body>
</html>
